# DB — will run locally on EC2 (not Docker)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=monitoring_hub
DB_USER=monitor
DB_PASSWORD=root123

# App
APP_ENV=production
APP_PORT=8000

# AWS (your existing keys)
AWS_DEFAULT_REGION=ap-south-1

VM_URL=http://13.127.154.112